@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="glass-add p-5">
        <h4 class="display-4 text-center text-white" style="font-family: cursive">Welcome!</h4>
        <p class="text-center text-white" style="font-family: cursive">To Your Humble Enrollment System</p>
    </div>
</div>
