/*Default Classes and Utilities*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: rgb(0,6,74);
    background: linear-gradient(90deg, rgba(0,6,74,1) 38%, rgba(121,9,9,1) 79%);
    margin-bottom: 60px;
}

/*Classes*/

.glass-add {
    /* From https://css.glass */
    background: rgba(92, 11, 104, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(92, 11, 104, 1);
}

.glass-view {
    /* From https://css.glass */
    background: rgba(254, 0, 0, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(254, 0, 0, 1);
}

.glass-edit {
    /* From https://css.glass */
    background: rgba(36, 0, 242, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(36, 0, 242, 1);
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}